*.pyc
*.log
*.swp
*.bak
*\#*
*\~*
*.png
.DS_Store
/allure-results
settings.json


.cache
.Trash-1000
__pycache__/
.pytest_cache/
.idea/*
.idea/
conf
runner
cpython
venv
venv/*

app/
my_test/*
src/*
env/
tests/test/*
ADB/*
lib/*
screenshots/*


*.sublime*
TODO
.cache
report*
*debug*
